<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs *ngIf="showTabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="control-devices">
        <ion-icon name="tv-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="statistics">
        <ion-icon name="stats-chart-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="map-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-tabs *ngIf="!showTabs"></ion-tabs>
</ion-app>
